{% extends "bootstrap/base.html" %}
{% macro render_bootstrap_field(field) %}
<div class="row">
    <label class="col-md-4">{{ field.label }}</label>
    <div class="col-md-8">
        {{ field(class='form-control')|safe }}
    </div>
</div>
{% endmacro %}

{% macro render_bootstrap_form(form) %}
<div class="row">
    <label class="col-md-4">{{ form.label }}</label>
    <div class="col-md-8">
        {{ form() }}
    </div>
</div>
{% endmacro %}

{% block title %}
{{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{%- block metas %}
{{super()}}
<meta charset="utf-8">
<meta name="description" content="{{ config['PUBLIC_CONFIG'].site.title }}"/>
<meta name="keywords" content="{{ config['PUBLIC_CONFIG'].site.keywords }}"/>
<meta name="copyright" content="{{ config['PUBLIC_CONFIG'].company.domain }}"/>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}