{% extends 'layouts/layout_home.html' %}
{% block title %}
Activate service | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <div class="col-md-11">
                <a href="{{ url_for('HomeView:index') }}">{{ config['PUBLIC_CONFIG'].site.title }}</a>
            </div>
            <div>Version: {{ config['PUBLIC_CONFIG'].project.version }}</div>
        </h1>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row well">
                <h3>{% trans %}License{% endtrans %}</h3>
                <p>{% trans %}Note: Please activate service.{% endtrans %}</p>
                {{ util.flashed_messages(dismissible=True, container=False) }}
                <form action="" method="post" class="form" role="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group  required text-left">
                        <label class="control-label" for="license">{{ form.license.label }}</label>
                        <input class="form-control" id="license" name="license"
                               placeholder="{% trans %}Activate service.{% endtrans %}" required type="text" value="">
                    </div>
                    {{ form_field(form.submit, class="btn btn-success") }}
                </form>
            </div>
            <div class="row">
                <a href="{{ url_for('ProviderView:dashboard') }}" role="button" class="btn btn-info">
                    {% trans %}Dashboard{% endtrans %}
                </a>
            </div>
        </div>
    </div>
</div>
{%- endblock %}

{% block scripts %}
{{ super() }}
{%- endblock %}
