{% from 'bootstrap/wtf.html' import form_field %}
{% macro render_bootstrap_field(field) %}
<div class="row">
    <label class="col-md-4">{{ field.label }}</label>
    <div class="col-md-8">
        {{ field(class='form-control')|safe }}
    </div>
</div>
{% endmacro %}

{% macro render_bootstrap_form(form) %}
<div class="row">
    <label class="col-md-4">{{ form.label }}</label>
    <div class="col-md-8">
        {{ form() }}
    </div>
</div>
{% endmacro %}

<form id="service_entry_form" name="service_entry_form" class="form" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            {% block title %}
            {% endblock %}
        </h4>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}
        <br>
        {{ render_bootstrap_field(form.name) }}
        <br>
        {{ render_bootstrap_form(form.host) }}
        <br>
        {{ render_bootstrap_form(form.http_host) }}
        <br>
        {{ render_bootstrap_form(form.vods_host) }}
        <br>
        {{ render_bootstrap_form(form.cods_host) }}
        <br>
        {{ render_bootstrap_form(form.subscribers_host) }}
        <br>
        {{ render_bootstrap_form(form.bandwidth_host) }}
        <br>
        {{ render_bootstrap_field(form.feedback_directory) }}
        <br>
        {{ render_bootstrap_field(form.timeshifts_directory) }}
        <br>
        {{ render_bootstrap_field(form.hls_directory) }}
        <br>
        {{ render_bootstrap_field(form.playlists_directory) }}
        <br>
        {{ render_bootstrap_field(form.dvb_directory) }}
        <br>
        {{ render_bootstrap_field(form.capture_card_directory) }}
        <br>
        {{ render_bootstrap_field(form.vods_in_directory) }}
        <br>
        {{ render_bootstrap_field(form.vods_directory) }}
        <br>
        {{ render_bootstrap_field(form.cods_directory) }}
    </div>
    <div class="modal-footer">
        {% block footer %}
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
        {{ form_field(form.apply, class="btn btn-success") }}
        {% endblock %}
    </div>
</form>
