<p>
    Your account was successfully created. Please click the link below
    <br>
    to confirm your email address and activate your account:
</p>
<p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>
<p>
    We are always here to help if you have any questions or just want some guidance on getting started.
    <a href="mailto:{{ contact_email }}">Contact us</a>
    <br>
    If you did not sign up for <b>{{ title }}</b>, please ignore this email.
</p>

<p>
    <br>
    --
    <br>
    <b>BR,</b>
    <br>
    <b>{{ company }} Team</b>
</p>
<p>
    Our projects:<br>
    <a href="https://fastonosql.com">https://fastonosql.com</a><br>
    <a href="https://fastoredis.com">https://fastoredis.com</a><br>
    <a href="https://fastotv.com">https://fastotv.com</a><br>
    <a href="https://fastocloud.com">https://fastocloud.com</a><br>
    <a href="https://fastogt.com">https://fastogt.com</a>
</p>