{% extends 'layouts/layout.html' %}
{% block title %}
Page not found | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row well">
        <h1>{% trans %}Page Not Found{% endtrans %}</h1>
        <p>{% trans %}What you were looking for is just not there.{% endtrans %}</p>
        <p>
            <a href="{{ url_for('HomeView:index') }}">{% trans %}go somewhere nice{% endtrans %}</a>
        </p>
    </div>
</div>
{% endblock %}
